@charset "utf-8"; /* research to find out if this is necessary */
:root {
   /*------ Color variables ------*/
   /* background colors */
   --dark-grey: rgba(61, 61, 61, 1);
   --dark-white: #f7f7f7;

   /* text colors */
   --light-text: rgb(167, 167, 167);

   /* shadow colors */
   --light-shadow: rgb(187, 187, 187);
   --dark-shadow: rgb(97, 97, 97);
}

html, html * {
   margin: 0;
   padding: 0;
   font-family: 'Nunito', sans-serif;
   font-size: 10px;
   background-color: var(--dark-white);

   scroll-behavior: smooth;
}

header *, #introduction, #introduction * {
   color: var(--dark-grey);
   background-color: white;
}

header {
   line-height: 2.4rem;
   background-color: white;
}

header p {
   text-align: left;
   line-height: 3.2rem;
}

main * {
   max-width: 80rem;
   margin-left: auto;
   margin-right: auto;
}

p {
   text-align: center;
   padding: 1.6rem;
}

/*------ Font sizes ------*/
p  { font-size: 1.6rem;  }
h1 { font-size: 3.2rem;  }
h2 { font-size: 2.4rem;  }
a  { font-size: 1.6rem;  }
li { font-size: 1.6rem;  }

.material-icons .md-48 {
   font-size: 4.8rem;
}

li {
   list-style: none;
   margin: .5rem;
}

/*------ Link states ------*/
/* The order of these rule sets is important because the rules are layered on top of each other. For example, both the hover and active pseudo-classes will be activated simultaneously when you activate a link. */
a {
   text-decoration: none;
   color: var(--dark-grey);
}
a:visited { 
   color: var(--dark-grey); 
}
a:focus { 
   outline: 1px solid var(--dark-grey);
}
a:hover {
   text-decoration: underline;
   background-color: rgba(255, 255, 255, .5);
}
a:active { text-decoration: none; }

.button {
   margin: 0;
   padding: .4rem;
   border-radius: 1.5rem;

   background-color: var(--dark-grey);
   color: white;
   font-size: 1.6rem;
}

.site-card {
   display: inline-block;
   text-align: center;
   height: 20rem;
   width: 15rem;
   margin: 1.6rem;
   background-color: var(--dark-white);
}

.site-card img {
   width: 15rem;
   height: 18.75rem;
   overflow: hidden;
}

.site-card>a:hover {
   background-color: initial;
}

.site-card:hover {
   display: inline-block;
   position: relative;
   bottom: 1rem;
}

.light-text {
   color: white;
}

.highlight {
   background-color:var(--dark-grey);
}

.medium-img {
   height: 18.75rem;
   width: 15rem;
   margin-bottom: -0.4rem;
}

.portrait {
   width: 20rem;
   border-radius: 7rem;
   margin: 4.8rem 0em 0em 0em;
}

.rounded-corner {
   border-radius: 1rem;
}

.site-description {
   display: inline-block;
   margin: 0;
   padding: .4rem;
   width: 15rem;
   border-radius: 1.5rem;

   background-color: var(--dark-grey);
   
   position: relative;
   bottom: 1.66rem;
   right: .4rem;
}

.dark-shadow {
   -moz-box-shadow: 0 0 1.5rem;
	-webkit-box-shadow: 0 0 1.5rem;
	-o-box-shadow: 0 0 1.5rem;
	box-shadow: 0 0 1.5rem var(--dark-shadow);
}

.light-shadow {
   -moz-box-shadow: 0 0 1.5rem;
	-webkit-box-shadow: 0 0 1.5rem;
	-o-box-shadow: 0 0 1.5rem;
	box-shadow: 0 0 1.5rem var(--light-shadow);
}

#introduction {
   text-align: center;
   max-width: none;
   height: 100vh;
}

#introduction>p {
   margin: 0em auto;
   padding: 3.2rem;
   max-width: 80rem;
   
   line-height: 3.2rem;
   text-align: left;   
}

.arrow {
   display: block;
   margin: 0 auto;
}

/*------ Portfolio section ------*/
#portfolio {
   text-align: center;
   
   padding: 1.6rem 0;
   
   background-color: var(--dark-white);
}

.youtube-video {
   margin: 1.6em 0;
}

/*------ Footer content ------*/
footer {
   background-color: white;
   color: var(--light-text);
   padding: 1.6rem 0 0 0;
}

footer * {
   background: transparent;
}

#contact-buttons {
   display: flex;
   justify-content: space-around;
   max-width: 80rem;
   height: 4.6rem; /* figure out why this value isn't being computed automatically to match the height of the icons */
   margin: 1.6rem auto 3.2rem auto;
}

.contact-icon {
   width: 4.6rem;
   height: 4.6rem;
}

#contact-buttons:last-child {
   padding-right: 0;
}

#contact-buttons:first-child {
   padding-left: 0;
}

.bounce:hover {
   animation-name: bounce;
   animation-duration: .65s;
   animation-iteration-count: infinite;
   animation-direction: alternate;

   position: relative;
}

#attribution {
   padding: .8rem;
   background-image: linear-gradient(to right, #44c2fc, #af44fc);

   color: white;
}

#heart {
   background: transparent;
}

#heart:hover {
   color: red;
}

@keyframes bounce {
   from {
      bottom: 0;
   }
   to {
      bottom: 1rem;
   }
}

.animate-down {
   position: relative;
   animation: .75s infinite alternate move-down;
}

@keyframes move-down {
   from {
      top: 0;
   }
   to {
      top: .45rem;
   }
}
