@charset "utf-8"; /* research to find out if this is necessary */
html, html * {
   margin: 0;
   padding: 0;
   font-family: 'Nunito', sans-serif;
   font-size: 10px;
   background-color: grey;
}

header *, #introduction, #introduction * {
   color: rgb(61, 61, 61);
   background-color: white;
}

main * {
   max-width: 80rem;
   margin-left: auto;
   margin-right: auto;
}

header {
   background-color: white;
}

/*------ Font sizes ------*/
p  { font-size: 1.6rem;  }
h1 { font-size: 3.2rem;  }
h2 { font-size: 2.4rem;  }
a  { font-size: 1.6rem;  }
li { font-size: 1.6rem;  }

.material-icons .md-48 {
   font-size: 4.8rem;
}

h2 {
   margin-top: 2rem;
}

li {
   list-style: none;
   margin: .5rem;
}

/*------ Link states ------*/
/* The order of these rule sets is important because the rules are layered on top of each other. For example, both the hover and active pseudo-classes will be activated simultaneously when you activate a link. */
a {
   text-decoration: none;
   color: rgb(61, 61, 61);
}
a:visited { 
   color: rgb(61, 61, 61); 
}
a:focus { 
   outline: 1px solid rgb(61, 61, 61);
}
a:hover {
   text-decoration: underline;
   background-color: rgba(255, 255, 255, .5);
}
a:active { text-decoration: none; }

.site-card>a:hover {
   background-color: initial;
}

p {
   text-align: center;
   padding: 1.6rem;
}

.light-text {
   color: white;
}

.highlight {
   background-color:rgb(61, 61, 61);
}

.medium-img {
   height: 18.75rem;
   width: 15rem;
   margin-bottom: -0.4rem;
}

.site-card img {
   width: 15rem;
   height: 18.75rem;
   overflow: hidden;
}

.portrait {
   width: 15rem;
   border-radius: 5rem;
   margin: 1.6rem 0em 0em 0em;
}

.site-card {
   display: inline-block;
   text-align: center;
   max-width: 15rem;
   margin: 2rem;
   background-color: grey;
}

.rounded-corner {
   border-radius: 1rem;
}

.site-description {
   display: inline-block;
   margin: 0;
   padding: .4rem;
   width: 15rem;
   border-radius: 1.5rem;

   background-color: rgb(61, 61, 61);
   
   position: relative;
   bottom: 1.66rem;
   right: .4rem;
}

.shadow {
   -moz-box-shadow: 0 0 1.5rem;
	-webkit-box-shadow: 0 0 1.5rem;
	-o-box-shadow: 0 0 1.5rem;
	box-shadow: 0 0 1.5rem rgb(97, 97, 97);
}

.light-shadow {
   -moz-box-shadow: 0 0 1.5rem;
	-webkit-box-shadow: 0 0 1.5rem;
	-o-box-shadow: 0 0 1.5rem;
	box-shadow: 0 0 1.5rem rgb(187, 187, 187)
}

header {
   line-height: 2.4rem;
}

header p {
   text-align: left;
   line-height: 3.2rem;
}

#introduction {
   text-align: center;
   max-width: none;
   height: 100vh;
}

#introduction>p {
   margin: 0em auto;
   padding: 3.2rem;
   max-width: 80rem;
   
   line-height: 2;
   text-align: left;   
}

.arrow {
   display: block;
   margin-right: auto;
   margin-left: auto;
}

#portfolio {
   box-sizing: border-box;
   text-align: center;
   
   background-color: grey;
}

#contact-buttons {
   display: flex;
   justify-content: space-around;
   max-width: 80rem;
   margin: 1.6rem auto;
}

#contact-buttons:last-child {
   padding-right: 0;
}

#contact-buttons:first-child {
   padding-left: 0;
}

#principles {
   background-color: grey;
}

#principles p {
   text-align: left;   
}

footer {
   background-color: grey;
   color: rgb(167, 167, 167);
   padding: 1em;
}







/*
@supports (grid-area: auto) {
@media (min-width: 600px) {
   .site {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   
   header {
      grid-column: 1 / 5;
   }

   footer {
      grid-column: span 4;
      grid-row: 5;
   }

   #introduction {
      grid-column: 1 / 5;
      border-style: solid;
      border-width: 1px;
      border-color: black;
   }

   #portfolio {
   grid-column: 1 / 3;
   display: grid;
   box-sizing: border-box;
   margin: 0;
   grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
   grid-gap: 1em;

   background-color: grey;
   }

   #portfolio {
      grid-column: 1 / 3;
   }

   #principles {
      grid-column: 3 / 5;
      grid-row: 3;
   }
   
   }
}
*/